.SearchResults {
    width: 45%;
    max-height: 950px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.5);
    box-shadow: 0 4px 2px 2px #000000;
  }
  .style{
    text-align: center;
    font-size: 1.2rem;
    border-bottom: solid 0.3px rgb(109, 107, 107);
    padding-bottom: 0.5rem;
    margin-top: 2rem;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }